In [204]:
# Dependencies
import os
import sys
import re 
import pandas as pd
import numpy as np
from pymongo import MongoClient
import shutil
pd.options.mode.chained_assignment = None  # default='warn'

In [205]:
# Set directory file paths
filepath = os.path.join(".", "Resources/State/Demographic", "ACS_17_5YR_S0102_with_ann.csv")

In [206]:
total_state_df = pd.read_csv(filepath, skiprows=[0])
# Split the extension from the path and normalise it to lowercase.
# ext = os.path.splitext(filepath)[-1].lower()
# excel = os.path.splitext(filepath)[0].lower()

# state_df["Year"] = "2009"
# state_df["Year"] = int(excel.split("_")[-1])
total_state_df.head()

,Id,Id2,Geography,Total; Estimate; Total population,Total; Margin of Error; Total population,60 years and over; Estimate; Total population,60 years and over; Margin of Error; Total population,Total; Estimate; SEX AND AGE - Male,Total; Margin of Error; SEX AND AGE - Male,60 years and over; Estimate; SEX AND AGE - Male,...,60 years and over; Estimate; Renter-occupied housing units - GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - Less than 30 percent,60 years and over; Margin of Error; Renter-occupied housing units - GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - Less than 30 percent,Total; Estimate; Renter-occupied housing units - GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - 30 percent or more,Total; Margin of Error; Renter-occupied housing units - GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - 30 percent or more,60 years and over; Estimate; Renter-occupied housing units - GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - 30 percent or more,60 years and over; Margin of Error; Renter-occupied housing units - GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - 30 percent or more,Total; Estimate; GROSS RENT - Median gross rent (dollars),Total; Margin of Error; GROSS RENT - Median gross rent (dollars),60 years and over; Estimate; GROSS RENT - Median gross rent (dollars),60 years and over; Margin of Error; GROSS RENT - Median gross rent (dollars)
0,0400000US01,1,Alabama,4850771,*****,1065625,3368,48.5,0.1,44.4,...,55.2,1.0,42.6,0.5,44.8,1.0,747,3,623,8
1,0400000US02,2,Alaska,738565,*****,117047,1030,52.3,0.1,50.8,...,56.5,2.6,41.6,1.1,43.5,2.6,1200,13,902,29
2,0400000US04,4,Arizona,6809946,*****,1502688,3385,49.7,0.1,46.3,...,48.3,0.8,45.2,0.4,51.7,0.8,972,4,880,8
3,0400000US05,5,Arkansas,2977944,*****,655552,2090,49.1,0.1,45.3,...,56.6,1.3,40.7,0.6,43.4,1.3,709,5,613,9
4,0400000US06,6,California,38982847,*****,7292299,6791,49.7,0.1,45.4,...,40.0,0.3,53.1,0.1,60.0,0.3,1358,3,1109,4

In [207]:
inc_state_cols_df = total_state_df.filter(regex="Total; Estimate; INCOME IN THE PAST 12 MONTHS")
inc_state_df = total_state_df.filter(regex="Geography")

inc_state_df.head()
inc_state_cols_df.head()

,Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households,Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With earnings,Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With earnings - Mean earnings (dollars),Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With Social Security income,Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With Social Security income - Mean Social Security income (dollars),Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With Supplemental Security Income,Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With Supplemental Security Income - Mean Supplemental Security Income (dollars),Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With cash public assistance income,Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With cash public assistance income - Mean cash public assistance income (dollars),Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With retirement income,Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With retirement income - Mean retirement income (dollars),Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With Food Stamp/SNAP benefits
0,1856695,72.4,67093,35.4,18123,6.7,9329,1.7,2693,21.4,23470,15.0
1,252536,86.0,90061,21.1,17091,4.5,9901,6.3,4020,19.4,30401,10.3
2,2482311,74.7,74501,32.9,19852,4.3,10165,2.0,2739,20.2,25884,12.5
3,1147291,73.1,63854,35.8,17917,6.8,9245,2.1,2933,18.0,20108,13.6
4,12888128,80.6,96538,27.1,18270,6.2,10033,3.6,4596,16.0,31540,9.3

In [208]:
total_inc_state_df = pd.concat([inc_state_df, inc_state_cols_df], axis=1)

total_inc_state_df.head()

,Geography,Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households,Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With earnings,Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With earnings - Mean earnings (dollars),Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With Social Security income,Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With Social Security income - Mean Social Security income (dollars),Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With Supplemental Security Income,Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With Supplemental Security Income - Mean Supplemental Security Income (dollars),Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With cash public assistance income,Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With cash public assistance income - Mean cash public assistance income (dollars),Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With retirement income,Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With retirement income - Mean retirement income (dollars),Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With Food Stamp/SNAP benefits
0,Alabama,1856695,72.4,67093,35.4,18123,6.7,9329,1.7,2693,21.4,23470,15.0
1,Alaska,252536,86.0,90061,21.1,17091,4.5,9901,6.3,4020,19.4,30401,10.3
2,Arizona,2482311,74.7,74501,32.9,19852,4.3,10165,2.0,2739,20.2,25884,12.5
3,Arkansas,1147291,73.1,63854,35.8,17917,6.8,9245,2.1,2933,18.0,20108,13.6
4,California,12888128,80.6,96538,27.1,18270,6.2,10033,3.6,4596,16.0,31540,9.3

In [209]:
total_inc_state_df["Year"] = "2017"
# state_df["Year"] = int(excel.split("_")[-1])
total_inc_state_df.head()

,Geography,Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households,Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With earnings,Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With earnings - Mean earnings (dollars),Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With Social Security income,Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With Social Security income - Mean Social Security income (dollars),Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With Supplemental Security Income,Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With Supplemental Security Income - Mean Supplemental Security Income (dollars),Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With cash public assistance income,Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With cash public assistance income - Mean cash public assistance income (dollars),Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With retirement income,Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With retirement income - Mean retirement income (dollars),Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With Food Stamp/SNAP benefits,Year
0,Alabama,1856695,72.4,67093,35.4,18123,6.7,9329,1.7,2693,21.4,23470,15.0,2017
1,Alaska,252536,86.0,90061,21.1,17091,4.5,9901,6.3,4020,19.4,30401,10.3,2017
2,Arizona,2482311,74.7,74501,32.9,19852,4.3,10165,2.0,2739,20.2,25884,12.5,2017
3,Arkansas,1147291,73.1,63854,35.8,17917,6.8,9245,2.1,2933,18.0,20108,13.6,2017
4,California,12888128,80.6,96538,27.1,18270,6.2,10033,3.6,4596,16.0,31540,9.3,2017

In [210]:
# Pass sheet title to description & country to hierachy columns for each row
total_inc_state_df["Hierarchy"] = "State"
# state_df["H_Name"] = list(state_df)[2]
# state_df["Population_Number"] = list(state_df)[3]
total_inc_state_df["Category"] = "Household"
total_inc_state_df["SubCategory"] = "Mean"
total_inc_state_df["Description"] = "Integer"
total_inc_state_df["Notes"] = ""

# Rename 1st two columns
mapping = {total_inc_state_df.columns[0]: 'H_Name', total_inc_state_df.columns[3]: 'Population_Number'}
state_df = total_inc_state_df.rename(columns=mapping)

state_df.head()

,H_Name,Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households,Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With earnings,Population_Number,Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With Social Security income,Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With Social Security income - Mean Social Security income (dollars),Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With Supplemental Security Income,Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With Supplemental Security Income - Mean Supplemental Security Income (dollars),Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With cash public assistance income,Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With cash public assistance income - Mean cash public assistance income (dollars),Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With retirement income,Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With retirement income - Mean retirement income (dollars),Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With Food Stamp/SNAP benefits,Year,Hierarchy,Category,SubCategory,Description,Notes
0,Alabama,1856695,72.4,67093,35.4,18123,6.7,9329,1.7,2693,21.4,23470,15.0,2017,State,Household,Mean,Integer,
1,Alaska,252536,86.0,90061,21.1,17091,4.5,9901,6.3,4020,19.4,30401,10.3,2017,State,Household,Mean,Integer,
2,Arizona,2482311,74.7,74501,32.9,19852,4.3,10165,2.0,2739,20.2,25884,12.5,2017,State,Household,Mean,Integer,
3,Arkansas,1147291,73.1,63854,35.8,17917,6.8,9245,2.1,2933,18.0,20108,13.6,2017,State,Household,Mean,Integer,
4,California,12888128,80.6,96538,27.1,18270,6.2,10033,3.6,4596,16.0,31540,9.3,2017,State,Household,Mean,Integer,

In [211]:
state_df.columns

Index(['H_Name',
       'Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households',
       'Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With earnings',
       'Population_Number',
       'Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With Social Security income',
       'Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With Social Security income - Mean Social Security income (dollars)',
       'Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With Supplemental Security Income',
       'Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With Supplemental Security Income - Mean Supplemental Security Income (dollars)',
       'Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With cash public assistance income',
       'Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With cash public assistance income - Mean cash public assistance income (dollars)',
       'Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With retirement income',
       'Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With retirement income - Mean retirement income (dollars)',
       'Total; Estimate; INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Households - With Food Stamp/SNAP benefits',
       'Year', 'Hierarchy', 'Category', 'SubCategory', 'Description', 'Notes'],
      dtype='object')

In [212]:
final_state_df = state_df[['Year', 'Hierarchy', 'H_Name', 'Population_Number', 'Category', 'SubCategory', 'Description', 'Notes']]
final_state_df.head()

,Year,Hierarchy,H_Name,Population_Number,Category,SubCategory,Description,Notes
0,2017,State,Alabama,67093,Household,Mean,Integer,
1,2017,State,Alaska,90061,Household,Mean,Integer,
2,2017,State,Arizona,74501,Household,Mean,Integer,
3,2017,State,Arkansas,63854,Household,Mean,Integer,
4,2017,State,California,96538,Household,Mean,Integer,

In [213]:
# This function move footnotes to specific cells and remove Nan rows
def Update_FootNotes(_df):
    _df["Notes"] = "" 
    # Get all the 1st character in column, extract only digit & get the max    
    nlist = _df['Notes'].str[0].tolist()
    results = [int(n) for n in nlist if n.isdigit()]
    m = max(results)
    f = m
    # Loop thru the max and update footnote to specific row cell
    for i in range(m):
        n = (i+1)
        fn = f'-{f}'
        #         print(n)
        #         print(fn)
        footnote = _df.iloc[int(fn), 0].replace(f"{n} ", "")
#         print(footnote)
        _df.loc[_df.Notes.str.contains(str(n)), "Notes"] = f'Footnotes {n}: {footnote}'
        f-=1
    # -----------------------------------------------    
    # Drop all NaN rows
    _df = _df.dropna()
    # Remove digit from column
    pattern = '[0-9]'
    _df.Notes = [re.sub(pattern, '', row.Notes) for i, row in _df.iterrows()] 
        
    return _df

In [214]:
# Pass footnote to specific cells and clean data
# state_df = Update_FootNotes(state_df)
# Convert Column to Integer
# state_df[""] = state_df[""].astype(int)
# Some excel sheet has lowercase
# state_df.loc[state_df[""] == "", ""] = ""
# state_df.reset_index(drop=True,inplace=True)

In [215]:
final_state_df["Created_By"] = "Charleen"
final_state_df["Created_Date"] = pd.datetime.now().strftime("%m-%d-%Y %I:%M:%S")
final_state_df.head()

,Year,Hierarchy,H_Name,Population_Number,Category,SubCategory,Description,Notes,Created_By,Created_Date
0,2017,State,Alabama,67093,Household,Mean,Integer,,Charleen,05-05-2019 10:55:50
1,2017,State,Alaska,90061,Household,Mean,Integer,,Charleen,05-05-2019 10:55:50
2,2017,State,Arizona,74501,Household,Mean,Integer,,Charleen,05-05-2019 10:55:50
3,2017,State,Arkansas,63854,Household,Mean,Integer,,Charleen,05-05-2019 10:55:50
4,2017,State,California,96538,Household,Mean,Integer,,Charleen,05-05-2019 10:55:50

In [216]:
# # Create notes column and copy footnotes to Notes for selective row by locating the row cell with the footnote
# country_df["Notes"] = ""      
# country_df.loc[country_df.Crime_Type.str.contains('1'), "Notes"] = f'Footnotes: {country_df.iloc[-2, 0].replace("1 ", "")}'
# country_df.loc[country_df.Crime_Type.str.contains('2'), "Notes"] = f'Footnotes: {country_df.iloc[-1, 0].replace("2 ", "")}'
# # Drop all NaN rows
# country_df = country_df.dropna()
# # Remove digit from column
# pattern = '[0-9]'
# country_df.Crime_Type = [re.sub(pattern, '', row.Crime_Type) for i, row in country_df.iterrows()] 
final_state_df.count()

Year                 51
Hierarchy            51
H_Name               51
Population_Number    51
Category             51
SubCategory          51
Description          51
Notes                51
Created_By           51
Created_Date         51
dtype: int64

In [217]:
final_state_df.dtypes

Year                 object
Hierarchy            object
H_Name               object
Population_Number     int64
Category             object
SubCategory          object
Description          object
Notes                object
Created_By           object
Created_Date         object
dtype: object

In [218]:
final_state_df['Year'] = final_state_df['Year'].astype(int)

In [219]:
final_state_df = final_state_df.astype({'Year': 'int64'})

In [220]:
final_state_df.dtypes

Year                  int64
Hierarchy            object
H_Name               object
Population_Number     int64
Category             object
SubCategory          object
Description          object
Notes                object
Created_By           object
Created_Date         object
dtype: object

In [221]:
final_state_df['H_Name'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [222]:
len(final_state_df['H_Name'].unique())

51

In [223]:
final_state_df.shape

(51, 10)

In [224]:
final_state_df.describe()

         Year  Population_Number
count    51.0          51.000000
mean   2017.0       80118.666667
std       0.0       13707.060881
min    2017.0       61591.000000
25%    2017.0       70678.500000
50%    2017.0       74832.000000
75%    2017.0       88348.000000
max    2017.0      122158.000000

In [225]:
# Set connection to database
client = MongoClient("mongodb+srv://admin:admin123@janie-test-vcn3t.mongodb.net/test?retryWrites=true")
db = client.consultant

In [226]:
records = final_state_df.to_dict('records')
[db.income.update_many({"Year": row["Year"], "Hierarchy": row["Hierarchy"], "H_Name": row["H_Name"], "Population_Number": row["Population_Number"], "Category": row["Category"], "SubCategory": row["SubCategory"], "Description": row["Description"], "Notes": row["Notes"], "Created_By": row["Created_By"], "Created_Date": row["Created_Date"]}, {'$set': row}, upsert=True) for row in records]

[<pymongo.results.UpdateResult at 0x1ab41ec3748>,
 <pymongo.results.UpdateResult at 0x1ab41e85dc8>,
 <pymongo.results.UpdateResult at 0x1ab41ec8908>,
 <pymongo.results.UpdateResult at 0x1ab41eb6388>,
 <pymongo.results.UpdateResult at 0x1ab41eb6588>,
 <pymongo.results.UpdateResult at 0x1ab41e4f208>,
 <pymongo.results.UpdateResult at 0x1ab41e4f708>,
 <pymongo.results.UpdateResult at 0x1ab41e4fd88>,
 <pymongo.results.UpdateResult at 0x1ab41e884c8>,
 <pymongo.results.UpdateResult at 0x1ab41eb6c48>,
 <pymongo.results.UpdateResult at 0x1ab41e881c8>,
 <pymongo.results.UpdateResult at 0x1ab41ebe3c8>,
 <pymongo.results.UpdateResult at 0x1ab41ebeb48>,
 <pymongo.results.UpdateResult at 0x1ab41ebe608>,
 <pymongo.results.UpdateResult at 0x1ab41eb82c8>,
 <pymongo.results.UpdateResult at 0x1ab41eb8608>,
 <pymongo.results.UpdateResult at 0x1ab41eb8f48>,
 <pymongo.results.UpdateResult at 0x1ab41eb8548>,
 <pymongo.results.UpdateResult at 0x1ab41e8a988>,
 <pymongo.results.UpdateResult at 0x1ab41e8a2c8>,
 <pymongo.results.UpdateResult at 0x1ab41e8ae08>,
 <pymongo.results.UpdateResult at 0x1ab41ed0188>,
 <pymongo.results.UpdateResult at 0x1ab41ed0848>,
 <pymongo.results.UpdateResult at 0x1ab41ed0688>,
 <pymongo.results.UpdateResult at 0x1ab41ed9408>,
 <pymongo.results.UpdateResult at 0x1ab41ed9548>,
 <pymongo.results.UpdateResult at 0x1ab41ed9888>,
 <pymongo.results.UpdateResult at 0x1ab41ed9f88>,
 <pymongo.results.UpdateResult at 0x1ab41ecb048>,
 <pymongo.results.UpdateResult at 0x1ab41ecb9c8>,
 <pymongo.results.UpdateResult at 0x1ab41ecbd88>,
 <pymongo.results.UpdateResult at 0x1ab41edc048>,
 <pymongo.results.UpdateResult at 0x1ab41edc8c8>,
 <pymongo.results.UpdateResult at 0x1ab41edc748>,
 <pymongo.results.UpdateResult at 0x1ab41ede148>,
 <pymongo.results.UpdateResult at 0x1ab41ede6c8>,
 <pymongo.results.UpdateResult at 0x1ab41ede9c8>,
 <pymongo.results.UpdateResult at 0x1ab41edec88>,
 <pymongo.results.UpdateResult at 0x1ab41ee21c8>,
 <pymongo.results.UpdateResult at 0x1ab41ee2b08>,
 <pymongo.results.UpdateResult at 0x1ab41ee29c8>,
 <pymongo.results.UpdateResult at 0x1ab41ee4188>,
 <pymongo.results.UpdateResult at 0x1ab41ee4448>,
 <pymongo.results.UpdateResult at 0x1ab41ee4708>,
 <pymongo.results.UpdateResult at 0x1ab41ee4fc8>,
 <pymongo.results.UpdateResult at 0x1ab41ee60c8>,
 <pymongo.results.UpdateResult at 0x1ab41ee6908>,
 <pymongo.results.UpdateResult at 0x1ab41ee6bc8>,
 <pymongo.results.UpdateResult at 0x1ab41ee9448>,
 <pymongo.results.UpdateResult at 0x1ab41ee9308>,
 <pymongo.results.UpdateResult at 0x1ab41ee9dc8>]

In [227]:
# Get data from mongo & convert back to dataframe
df = pd.DataFrame.from_records(db.income.find({}, {'_id': 0 }))
df

,Category,Created_By,Created_Date,Description,H_Name,Hierarchy,Notes,Population_Number,SubCategory,Year
0,Household,Charleen,05-05-2019 10:32:36,Integer,Alabama,State,,58371,Mean,2009
1,Household,Charleen,05-05-2019 10:32:36,Integer,Alaska,State,,74809,Mean,2009
2,Household,Charleen,05-05-2019 10:32:36,Integer,Arizona,State,,67650,Mean,2009
3,Household,Charleen,05-05-2019 10:32:36,Integer,Arkansas,State,,53672,Mean,2009
4,Household,Charleen,05-05-2019 10:32:36,Integer,California,State,,82989,Mean,2009
5,Household,Charleen,05-05-2019 10:32:36,Integer,Colorado,State,,72854,Mean,2009
6,Household,Charleen,05-05-2019 10:32:36,Integer,Connecticut,State,,95694,Mean,2009
7,Household,Charleen,05-05-2019 10:32:36,Integer,Delaware,State,,74297,Mean,2009
8,Household,Charleen,05-05-2019 10:32:36,Integer,District of Columbia,State,,93953,Mean,2009
9,Household,Charleen,05-05-2019 10:32:36,Integer,Florida,State,,65934,Mean,2009
10,Household,Charleen,05-05-2019 10:32:36,Integer,Georgia,State,,67936,Mean,2009
11,Household,Charleen,05-05-2019 10:32:36,Integer,Hawaii,State,,77544,Mean,2009
12,Household,Charleen,05-05-2019 10:32:36,Integer,Idaho,State,,57690,Mean,2009
13,Household,Charleen,05-05-2019 10:32:36,Integer,Illinois,State,,76034,Mean,2009
14,Household,Charleen,05-05-2019 10:32:36,Integer,Indiana,State,,61437,Mean,2009
15,Household,Charleen,05-05-2019 10:32:36,Integer,Iowa,State,,60591,Mean,2009
16,Household,Charleen,05-05-2019 10:32:36,Integer,Kansas,State,,63382,Mean,2009
17,Household,Charleen,05-05-2019 10:32:36,Integer,Kentucky,State,,57384,Mean,2009
18,Household,Charleen,05-05-2019 10:32:36,Integer,Louisiana,State,,60183,Mean,2009
19,Household,Charleen,05-05-2019 10:32:36,Integer,Maine,State,,59639,Mean,2009
20,Household,Charleen,05-05-2019 10:32:36,Integer,Maryland,State,,89646,Mean,2009
21,Household,Charleen,05-05-2019 10:32:36,Integer,Massachusetts,State,,88774,Mean,2009
22,Household,Charleen,05-05-2019 10:32:36,Integer,Michigan,State,,65348,Mean,2009
23,Household,Charleen,05-05-2019 10:32:36,Integer,Minnesota,State,,73808,Mean,2009
24,Household,Charleen,05-05-2019 10:32:36,Integer,Mississippi,State,,53379,Mean,2009
25,Household,Charleen,05-05-2019 10:32:36,Integer,Missouri,State,,61581,Mean,2009
26,Household,Charleen,05-05-2019 10:32:36,Integer,Montana,State,,54298,Mean,2009
27,Household,Charleen,05-05-2019 10:32:36,Integer,Nebraska,State,,60198,Mean,2009
28,Household,Charleen,05-05-2019 10:32:36,Integer,Nevada,State,,70509,Mean,2009
29,Household,Charleen,05-05-2019 10:32:36,Integer,New Hampshire,State,,78002,Mean,2009
...,...,...,...,...,...,...,...,...,...,...
429,Household,Charleen,05-05-2019 10:55:50,Integer,Massachusetts,State,,106739,Mean,2017
430,Household,Charleen,05-05-2019 10:55:50,Integer,Michigan,State,,74358,Mean,2017
431,Household,Charleen,05-05-2019 10:55:50,Integer,Minnesota,State,,88552,Mean,2017
432,Household,Charleen,05-05-2019 10:55:50,Integer,Mississippi,State,,61591,Mean,2017
433,Household,Charleen,05-05-2019 10:55:50,Integer,Missouri,State,,71801,Mean,2017
434,Household,Charleen,05-05-2019 10:55:50,Integer,Montana,State,,67084,Mean,2017
435,Household,Charleen,05-05-2019 10:55:50,Integer,Nebraska,State,,73871,Mean,2017
436,Household,Charleen,05-05-2019 10:55:50,Integer,Nevada,State,,73438,Mean,2017
437,Household,Charleen,05-05-2019 10:55:50,Integer,New Hampshire,State,,92016,Mean,2017
438,Household,Charleen,05-05-2019 10:55:50,Integer,New Jersey,State,,110064,Mean,2017
439,Household,Charleen,05-05-2019 10:55:50,Integer,New Mexico,State,,64759,Mean,2017
440,Household,Charleen,05-05-2019 10:55:50,Integer,New York,State,,98210,Mean,2017
441,Household,Charleen,05-05-2019 10:55:50,Integer,North Carolina,State,,71814,Mean,2017
442,Household,Charleen,05-05-2019 10:55:50,Integer,North Dakota,State,,80368,Mean,2017
443,Household,Charleen,05-05-2019 10:55:50,Integer,Ohio,State,,73219,Mean,2017
444,Household,Charleen,05-05-2019 10:55:50,Integer,Oklahoma,State,,68946,Mean,2017
445,Household,Charleen,05-05-2019 10:55:50,Integer,Oregon,State,,75825,Mean,2017
446,Household,Charleen,05-05-2019 10:55:50,Integer,Pennsylvania,State,,81825,Mean,2017
447,Household,Charleen,05-05-2019 10:55:50,Integer,Rhode Island,State,,85171,Mean,2017
448,Household,Charleen,05-05-2019 10:55:50,Integer,South Carolina,State,,66853,Mean,2017
449,Household,Charleen,05-05-2019 10:55:50,Integer,South Dakota,State,,69884,Mean,2017
450,Household,Charleen,05-05-2019 10:55:50,Integer,Tennessee,State,,70113,Mean,2017
451,Household,Charleen,05-05-2019 10:55:50,Integer,Texas,State,,81588,Mean,2017
452,Household,Charleen,05-05-2019 10:55:50,Integer,Utah,State,,81733,Mean,2017
453,Household,Charleen,05-05-2019 10:55:50,Integer,Vermont,State,,74810,Mean,2017
454,Household,Charleen,05-05-2019 10:55:50,Integer,Virginia,State,,94228,Mean,2017
455,Household,Charleen,05-05-2019 10:55:50,Integer,Washington,State,,90077,Mean,2017
456,Household,Charleen,05-05-2019 10:55:50,Integer,West Virginia,State,,63666,Mean,2017
457,Household,Charleen,05-05-2019 10:55:50,Integer,Wisconsin,State,,75437,Mean,2017
458,Household,Charleen,05-05-2019 10:55:50,Integer,Wyoming,State,,75198,Mean,2017

In [228]:
# db.population.drop()