In [370]:
# Dependencies
import os
import sys
import re 
import pandas as pd
import numpy as np
from pymongo import MongoClient
import shutil
pd.options.mode.chained_assignment = None  # default='warn'

In [371]:
# Set directory file paths
filepath = os.path.join(".", "Resources/State/Demographic", "ACS_17_5YR_S0102_with_ann.csv")

In [372]:
state_df = pd.read_csv(filepath, skiprows=[0])
# Split the extension from the path and normalise it to lowercase.
# ext = os.path.splitext(filepath)[-1].lower()
# excel = os.path.splitext(filepath)[0].lower()

state_df["Year"] = "2017"
# state_df["Year"] = int(excel.split("_")[-1])
state_df.head()

,Id,Id2,Geography,Total; Estimate; Total population,Total; Margin of Error; Total population,60 years and over; Estimate; Total population,60 years and over; Margin of Error; Total population,Total; Estimate; SEX AND AGE - Male,Total; Margin of Error; SEX AND AGE - Male,60 years and over; Estimate; SEX AND AGE - Male,...,60 years and over; Margin of Error; Renter-occupied housing units - GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - Less than 30 percent,Total; Estimate; Renter-occupied housing units - GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - 30 percent or more,Total; Margin of Error; Renter-occupied housing units - GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - 30 percent or more,60 years and over; Estimate; Renter-occupied housing units - GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - 30 percent or more,60 years and over; Margin of Error; Renter-occupied housing units - GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - 30 percent or more,Total; Estimate; GROSS RENT - Median gross rent (dollars),Total; Margin of Error; GROSS RENT - Median gross rent (dollars),60 years and over; Estimate; GROSS RENT - Median gross rent (dollars),60 years and over; Margin of Error; GROSS RENT - Median gross rent (dollars),Year
0,0400000US01,1,Alabama,4850771,*****,1065625,3368,48.5,0.1,44.4,...,1.0,42.6,0.5,44.8,1.0,747,3,623,8,2017
1,0400000US02,2,Alaska,738565,*****,117047,1030,52.3,0.1,50.8,...,2.6,41.6,1.1,43.5,2.6,1200,13,902,29,2017
2,0400000US04,4,Arizona,6809946,*****,1502688,3385,49.7,0.1,46.3,...,0.8,45.2,0.4,51.7,0.8,972,4,880,8,2017
3,0400000US05,5,Arkansas,2977944,*****,655552,2090,49.1,0.1,45.3,...,1.3,40.7,0.6,43.4,1.3,709,5,613,9,2017
4,0400000US06,6,California,38982847,*****,7292299,6791,49.7,0.1,45.4,...,0.3,53.1,0.1,60.0,0.3,1358,3,1109,4,2017

In [373]:
# Pass sheet title to description & country to hierachy columns for each row
state_df["Hierarchy"] = "State"
# state_df["H_Name"] = list(state_df)[2]
# state_df["Population_Number"] = list(state_df)[3]
state_df["Category"] = "Gender"
state_df["SubCategory"] = "Male"
state_df["Description"] = "Percentage(Float)"
state_df["Notes"] = ""

# Rename 1st two columns
mapping = {state_df.columns[2]: 'H_Name', state_df.columns[7]: 'Population_Number'}
state_df = state_df.rename(columns=mapping)

state_df.head()

,Id,Id2,H_Name,Total; Estimate; Total population,Total; Margin of Error; Total population,60 years and over; Estimate; Total population,60 years and over; Margin of Error; Total population,Population_Number,Total; Margin of Error; SEX AND AGE - Male,60 years and over; Estimate; SEX AND AGE - Male,...,Total; Estimate; GROSS RENT - Median gross rent (dollars),Total; Margin of Error; GROSS RENT - Median gross rent (dollars),60 years and over; Estimate; GROSS RENT - Median gross rent (dollars),60 years and over; Margin of Error; GROSS RENT - Median gross rent (dollars),Year,Hierarchy,Category,SubCategory,Description,Notes
0,0400000US01,1,Alabama,4850771,*****,1065625,3368,48.5,0.1,44.4,...,747,3,623,8,2017,State,Gender,Male,Percentage(Float),
1,0400000US02,2,Alaska,738565,*****,117047,1030,52.3,0.1,50.8,...,1200,13,902,29,2017,State,Gender,Male,Percentage(Float),
2,0400000US04,4,Arizona,6809946,*****,1502688,3385,49.7,0.1,46.3,...,972,4,880,8,2017,State,Gender,Male,Percentage(Float),
3,0400000US05,5,Arkansas,2977944,*****,655552,2090,49.1,0.1,45.3,...,709,5,613,9,2017,State,Gender,Male,Percentage(Float),
4,0400000US06,6,California,38982847,*****,7292299,6791,49.7,0.1,45.4,...,1358,3,1109,4,2017,State,Gender,Male,Percentage(Float),

In [374]:
state_df.columns

Index(['Id', 'Id2', 'H_Name', 'Total; Estimate; Total population',
       'Total; Margin of Error; Total population',
       '60 years and over; Estimate; Total population',
       '60 years and over; Margin of Error; Total population',
       'Population_Number', 'Total; Margin of Error; SEX AND AGE - Male',
       '60 years and over; Estimate; SEX AND AGE - Male',
       ...
       'Total; Estimate; GROSS RENT - Median gross rent (dollars)',
       'Total; Margin of Error; GROSS RENT - Median gross rent (dollars)',
       '60 years and over; Estimate; GROSS RENT - Median gross rent (dollars)',
       '60 years and over; Margin of Error; GROSS RENT - Median gross rent (dollars)',
       'Year', 'Hierarchy', 'Category', 'SubCategory', 'Description', 'Notes'],
      dtype='object', length=433)

In [375]:
final_state_df = state_df[['Year', 'Hierarchy', 'H_Name', 'Population_Number', 'Category', 'SubCategory', 'Description', 'Notes']]
final_state_df.head()

,Year,Hierarchy,H_Name,Population_Number,Category,SubCategory,Description,Notes
0,2017,State,Alabama,48.5,Gender,Male,Percentage(Float),
1,2017,State,Alaska,52.3,Gender,Male,Percentage(Float),
2,2017,State,Arizona,49.7,Gender,Male,Percentage(Float),
3,2017,State,Arkansas,49.1,Gender,Male,Percentage(Float),
4,2017,State,California,49.7,Gender,Male,Percentage(Float),

In [376]:
# This function move footnotes to specific cells and remove Nan rows
def Update_FootNotes(_df):
    _df["Notes"] = "" 
    # Get all the 1st character in column, extract only digit & get the max    
    nlist = _df['Notes'].str[0].tolist()
    results = [int(n) for n in nlist if n.isdigit()]
    m = max(results)
    f = m
    # Loop thru the max and update footnote to specific row cell
    for i in range(m):
        n = (i+1)
        fn = f'-{f}'
        #         print(n)
        #         print(fn)
        footnote = _df.iloc[int(fn), 0].replace(f"{n} ", "")
#         print(footnote)
        _df.loc[_df.Notes.str.contains(str(n)), "Notes"] = f'Footnotes {n}: {footnote}'
        f-=1
    # -----------------------------------------------    
    # Drop all NaN rows
    _df = _df.dropna()
    # Remove digit from column
    pattern = '[0-9]'
    _df.Notes = [re.sub(pattern, '', row.Notes) for i, row in _df.iterrows()] 
        
    return _df

In [377]:
# Pass footnote to specific cells and clean data
# state_df = Update_FootNotes(state_df)
# Convert Column to Integer
# state_df[""] = state_df[""].astype(int)
# Some excel sheet has lowercase
# state_df.loc[state_df[""] == "", ""] = ""
# state_df.reset_index(drop=True,inplace=True)

In [378]:
final_state_df["Created_By"] = "Charleen"
final_state_df["Created_Date"] = pd.datetime.now().strftime("%m-%d-%Y %I:%M:%S")
final_state_df.head()

,Year,Hierarchy,H_Name,Population_Number,Category,SubCategory,Description,Notes,Created_By,Created_Date
0,2017,State,Alabama,48.5,Gender,Male,Percentage(Float),,Charleen,05-05-2019 08:44:36
1,2017,State,Alaska,52.3,Gender,Male,Percentage(Float),,Charleen,05-05-2019 08:44:36
2,2017,State,Arizona,49.7,Gender,Male,Percentage(Float),,Charleen,05-05-2019 08:44:36
3,2017,State,Arkansas,49.1,Gender,Male,Percentage(Float),,Charleen,05-05-2019 08:44:36
4,2017,State,California,49.7,Gender,Male,Percentage(Float),,Charleen,05-05-2019 08:44:36

In [379]:
# # Create notes column and copy footnotes to Notes for selective row by locating the row cell with the footnote
# country_df["Notes"] = ""      
# country_df.loc[country_df.Crime_Type.str.contains('1'), "Notes"] = f'Footnotes: {country_df.iloc[-2, 0].replace("1 ", "")}'
# country_df.loc[country_df.Crime_Type.str.contains('2'), "Notes"] = f'Footnotes: {country_df.iloc[-1, 0].replace("2 ", "")}'
# # Drop all NaN rows
# country_df = country_df.dropna()
# # Remove digit from column
# pattern = '[0-9]'
# country_df.Crime_Type = [re.sub(pattern, '', row.Crime_Type) for i, row in country_df.iterrows()] 
final_state_df.count()

Year                 51
Hierarchy            51
H_Name               51
Population_Number    51
Category             51
SubCategory          51
Description          51
Notes                51
Created_By           51
Created_Date         51
dtype: int64

In [380]:
final_state_df.dtypes

Year                  object
Hierarchy             object
H_Name                object
Population_Number    float64
Category              object
SubCategory           object
Description           object
Notes                 object
Created_By            object
Created_Date          object
dtype: object

In [381]:
final_state_df['Year'] = final_state_df['Year'].astype(int)

In [382]:
final_state_df = final_state_df.astype({'Year': 'int64'})

In [383]:
final_state_df.dtypes

Year                   int64
Hierarchy             object
H_Name                object
Population_Number    float64
Category              object
SubCategory           object
Description           object
Notes                 object
Created_By            object
Created_Date          object
dtype: object

In [384]:
final_state_df['H_Name'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [385]:
len(final_state_df['H_Name'].unique())

51

In [386]:
final_state_df.shape

(51, 10)

In [387]:
final_state_df.describe()

         Year  Population_Number
count    51.0          51.000000
mean   2017.0          49.390196
std       0.0           0.837199
min    2017.0          47.400000
25%    2017.0          48.800000
50%    2017.0          49.300000
75%    2017.0          49.800000
max    2017.0          52.300000

In [388]:
# Set connection to database
client = MongoClient("mongodb+srv://admin:admin123@janie-test-vcn3t.mongodb.net/test?retryWrites=true")
db = client.consultant

In [389]:
records = final_state_df.to_dict('records')
[db.population.update_many({"Year": row["Year"], "Hierarchy": row["Hierarchy"], "H_Name": row["H_Name"], "Population_Number": row["Population_Number"], "Category": row["Category"], "SubCategory": row["SubCategory"], "Description": row["Description"], "Notes": row["Notes"], "Created_By": row["Created_By"], "Created_Date": row["Created_Date"]}, {'$set': row}, upsert=True) for row in records]

[<pymongo.results.UpdateResult at 0x16ebfab2588>,
 <pymongo.results.UpdateResult at 0x16ebfa7dd48>,
 <pymongo.results.UpdateResult at 0x16ebf9ecf88>,
 <pymongo.results.UpdateResult at 0x16ebfb2f7c8>,
 <pymongo.results.UpdateResult at 0x16ebfb1e588>,
 <pymongo.results.UpdateResult at 0x16ebfb29088>,
 <pymongo.results.UpdateResult at 0x16ebfb29b08>,
 <pymongo.results.UpdateResult at 0x16ebfa102c8>,
 <pymongo.results.UpdateResult at 0x16ebfb38b48>,
 <pymongo.results.UpdateResult at 0x16ebfa42fc8>,
 <pymongo.results.UpdateResult at 0x16ebfb386c8>,
 <pymongo.results.UpdateResult at 0x16ebfb1ba08>,
 <pymongo.results.UpdateResult at 0x16ebfb3e4c8>,
 <pymongo.results.UpdateResult at 0x16ebfb14c48>,
 <pymongo.results.UpdateResult at 0x16ebfa97d48>,
 <pymongo.results.UpdateResult at 0x16ebfb0f408>,
 <pymongo.results.UpdateResult at 0x16ebfb08b48>,
 <pymongo.results.UpdateResult at 0x16ebfb08f48>,
 <pymongo.results.UpdateResult at 0x16ebfb129c8>,
 <pymongo.results.UpdateResult at 0x16ebfb123c8>,
 <pymongo.results.UpdateResult at 0x16ebfa89108>,
 <pymongo.results.UpdateResult at 0x16ebfb015c8>,
 <pymongo.results.UpdateResult at 0x16ebfb016c8>,
 <pymongo.results.UpdateResult at 0x16ebfab40c8>,
 <pymongo.results.UpdateResult at 0x16ebfafcc48>,
 <pymongo.results.UpdateResult at 0x16ebfafc688>,
 <pymongo.results.UpdateResult at 0x16ebfb05248>,
 <pymongo.results.UpdateResult at 0x16ebfb05d88>,
 <pymongo.results.UpdateResult at 0x16ebfafff08>,
 <pymongo.results.UpdateResult at 0x16ebfaff508>,
 <pymongo.results.UpdateResult at 0x16ebfb18188>,
 <pymongo.results.UpdateResult at 0x16ebfb18a88>,
 <pymongo.results.UpdateResult at 0x16ebfb43608>,
 <pymongo.results.UpdateResult at 0x16ebfb43c48>,
 <pymongo.results.UpdateResult at 0x16ebfb47288>,
 <pymongo.results.UpdateResult at 0x16ebfb47888>,
 <pymongo.results.UpdateResult at 0x16ebfb49788>,
 <pymongo.results.UpdateResult at 0x16ebfb49b08>,
 <pymongo.results.UpdateResult at 0x16ebfb4d308>,
 <pymongo.results.UpdateResult at 0x16ebfb4dd08>,
 <pymongo.results.UpdateResult at 0x16ebfb4ea08>,
 <pymongo.results.UpdateResult at 0x16ebfb4ee88>,
 <pymongo.results.UpdateResult at 0x16ebfb52688>,
 <pymongo.results.UpdateResult at 0x16ebfb52f48>,
 <pymongo.results.UpdateResult at 0x16ebfb7c648>,
 <pymongo.results.UpdateResult at 0x16ebfb7cdc8>,
 <pymongo.results.UpdateResult at 0x16ebfb7f788>,
 <pymongo.results.UpdateResult at 0x16ebfb7fe08>,
 <pymongo.results.UpdateResult at 0x16ebfb81188>,
 <pymongo.results.UpdateResult at 0x16ebfb81f48>,
 <pymongo.results.UpdateResult at 0x16ebfb84448>]

In [390]:
# Get data from mongo & convert back to dataframe
df = pd.DataFrame.from_records(db.population.find({}, {'_id': 0 }))
df

,Category,Created_By,Created_Date,Description,H_Name,Hierarchy,Notes,Population_Number,SubCategory,Year
0,Population,Charleen,05-05-2019 08:11:08,Integer,Alabama,State,,4633360.0,Total,2009
1,Population,Charleen,05-05-2019 08:11:08,Integer,Alaska,State,,683142.0,Total,2009
2,Population,Charleen,05-05-2019 08:11:08,Integer,Arizona,State,,6324865.0,Total,2009
3,Population,Charleen,05-05-2019 08:11:08,Integer,Arkansas,State,,2838143.0,Total,2009
4,Population,Charleen,05-05-2019 08:11:08,Integer,California,State,,36308527.0,Total,2009
5,Population,Charleen,05-05-2019 08:11:08,Integer,Colorado,State,,4843211.0,Total,2009
6,Population,Charleen,05-05-2019 08:11:08,Integer,Connecticut,State,,3494487.0,Total,2009
7,Population,Charleen,05-05-2019 08:11:08,Integer,Delaware,State,,863832.0,Total,2009
8,Population,Charleen,05-05-2019 08:11:08,Integer,District of Columbia,State,,588433.0,Total,2009
9,Population,Charleen,05-05-2019 08:11:08,Integer,Florida,State,,18222420.0,Total,2009
10,Population,Charleen,05-05-2019 08:11:08,Integer,Georgia,State,,9497667.0,Total,2009
11,Population,Charleen,05-05-2019 08:11:08,Integer,Hawaii,State,,1280241.0,Total,2009
12,Population,Charleen,05-05-2019 08:11:08,Integer,Idaho,State,,1492573.0,Total,2009
13,Population,Charleen,05-05-2019 08:11:08,Integer,Illinois,State,,12785043.0,Total,2009
14,Population,Charleen,05-05-2019 08:11:08,Integer,Indiana,State,,6342469.0,Total,2009
15,Population,Charleen,05-05-2019 08:11:08,Integer,Iowa,State,,2978880.0,Total,2009
16,Population,Charleen,05-05-2019 08:11:08,Integer,Kansas,State,,2777835.0,Total,2009
17,Population,Charleen,05-05-2019 08:11:08,Integer,Kentucky,State,,4252000.0,Total,2009
18,Population,Charleen,05-05-2019 08:11:08,Integer,Louisiana,State,,4411546.0,Total,2009
19,Population,Charleen,05-05-2019 08:11:08,Integer,Maine,State,,1316380.0,Total,2009
20,Population,Charleen,05-05-2019 08:11:08,Integer,Maryland,State,,5637418.0,Total,2009
21,Population,Charleen,05-05-2019 08:11:08,Integer,Massachusetts,State,,6511176.0,Total,2009
22,Population,Charleen,05-05-2019 08:11:08,Integer,Michigan,State,,10039208.0,Total,2009
23,Population,Charleen,05-05-2019 08:11:08,Integer,Minnesota,State,,5188581.0,Total,2009
24,Population,Charleen,05-05-2019 08:11:08,Integer,Mississippi,State,,2922240.0,Total,2009
25,Population,Charleen,05-05-2019 08:11:08,Integer,Missouri,State,,5904382.0,Total,2009
26,Population,Charleen,05-05-2019 08:11:08,Integer,Montana,State,,956257.0,Total,2009
27,Population,Charleen,05-05-2019 08:11:08,Integer,Nebraska,State,,1772124.0,Total,2009
28,Population,Charleen,05-05-2019 08:11:08,Integer,Nevada,State,,2545763.0,Total,2009
29,Population,Charleen,05-05-2019 08:11:08,Integer,New Hampshire,State,,1315419.0,Total,2009
...,...,...,...,...,...,...,...,...,...,...
888,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),Massachusetts,State,,48.5,Male,2017
889,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),Michigan,State,,49.2,Male,2017
890,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),Minnesota,State,,49.8,Male,2017
891,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),Mississippi,State,,48.5,Male,2017
892,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),Missouri,State,,49.1,Male,2017
893,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),Montana,State,,50.3,Male,2017
894,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),Nebraska,State,,49.8,Male,2017
895,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),Nevada,State,,50.2,Male,2017
896,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),New Hampshire,State,,49.5,Male,2017
897,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),New Jersey,State,,48.8,Male,2017
898,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),New Mexico,State,,49.5,Male,2017
899,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),New York,State,,48.5,Male,2017
900,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),North Carolina,State,,48.7,Male,2017
901,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),North Dakota,State,,51.3,Male,2017
902,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),Ohio,State,,49.0,Male,2017
903,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),Oklahoma,State,,49.6,Male,2017
904,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),Oregon,State,,49.5,Male,2017
905,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),Pennsylvania,State,,48.9,Male,2017
906,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),Rhode Island,State,,48.5,Male,2017
907,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),South Carolina,State,,48.6,Male,2017
908,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),South Dakota,State,,50.3,Male,2017
909,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),Tennessee,State,,48.8,Male,2017
910,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),Texas,State,,49.7,Male,2017
911,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),Utah,State,,50.3,Male,2017
912,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),Vermont,State,,49.3,Male,2017
913,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),Virginia,State,,49.2,Male,2017
914,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),Washington,State,,49.9,Male,2017
915,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),West Virginia,State,,49.4,Male,2017
916,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),Wisconsin,State,,49.7,Male,2017
917,Gender,Charleen,05-05-2019 08:44:36,Percentage(Float),Wyoming,State,,51.1,Male,2017

In [391]:
# db.population.drop()